<html>

<head>
    <meta charset="UTF-8">
    <title>Market pulse</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <h1 class="heading"><span class="market">Market</span> <span class="pulse">Pulse</span></h1>
    <hr />