body {
    min-height: 100vh;
    margin: 0;
    background: black;
    color: white;
}

footer {
    text-align: center;
    margin: 20px 0;
}

.market {
    color: hsl(122, 76%, 54%);
}

.pulse {
    color: hsl(0, 80%, 50%);
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    margin-top: 20px;
}

.price-info {
    text-align: center;
    margin: 20px 0;
}